extends ../../layout/_default-layout.pug
include ../../mixins/product-component.mixin.pug

block main 
    h1=title

    table.table.table-hover.table-sm 
        thead 
            tr 
                th STT
                th Image
                th Title
                th Price
                th Status 
                th Action
        tbody 

            each item,index in products
                tr 
                    +product-component(item, index)
                
                    