extends ../../layout/_default-layout.pug
include ../../mixins/box-head.mixin.pug
include ../../mixins/product-item.pug

block main 
    .row 
        .col-12
            +box-head('Danh sách sản phẩm')

    .row    
        each data in products
            +product-item(data)
